extends base.pug
include mixins/video.pug
//-.pug 없어도 됨

block content   
    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found