extend ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(placeholder="Old Password", type="password", name="oldPw")
        input(placeholder="New Password", type="password", name="newPw")
        input(placeholder="New Password Comfirm", type="password", name="newPwComfirm")
        input(value="Change Password", type="submit")